FC6JJCEUa0k5JIuA.json
{
  "active": true,
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Add Watermark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Watermark": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meta BG": {
      "main": [
        [
          {
            "node": "Nest Bg Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meta Top": {
      "main": [
        [
          {
            "node": "Nest Top Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nest Bg Meta": {
      "main": [
        [
          {
            "node": "Rename Image Binary Background Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nest Top Meta": {
      "main": [
        [
          {
            "node": "Rename Image Binary Top Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Center": {
      "main": [
        [
          {
            "node": "Let \"top\" overlay \"bg\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logo for the Watermark": {
      "main": [
        [
          {
            "node": "Get Meta Top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Image Binary Top Image": {
      "main": [
        [
          {
            "node": "Wait for both Images and merge Binary in one Item",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rename Image Binary Background Image": {
      "main": [
        [
          {
            "node": "Wait for both Images and merge Binary in one Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for both Images and merge Binary in one Item": {
      "main": [
        [
          {
            "node": "Calculate Center",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Let \"top\" overlay \"bg\"": {
      "main": [
        []
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Add Watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-24T13:49:46.361Z",
  "id": "FC6JJCEUa0k5JIuA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "bebo-generate",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "The user wants to generate an image similar to the one provided. Describe all visible details in the given image as clearly as possible. Your output will be used as input for an image generation model, so include every important visual element such as objects, colors, lighting, composition, and style.",
        "imageUrls": "={{ $json.body.image_prompt_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1824,
        -192
      ],
      "id": "479f479f-877e-42d6-904d-90fb5b71d644",
      "name": "Analyze image",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "vYrqMk8SXBQDctdA",
          "name": "BireBiro-NEW"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.result }}",
        "options": {
          "size": "1536x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2496,
        -48
      ],
      "id": "e383d961-af97-47a7-9197-fdf25d33792a",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "vYrqMk8SXBQDctdA",
          "name": "BireBiro-NEW"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2048,
        -64
      ],
      "id": "f2a1b593-ca8a-4d20-bf63-e3819da2c561",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "54a252cf-9712-4b99-bdf3-31df2b83fef3",
              "leftValue": "={{ $json.body.image_prompt }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "0ee20498-3ac9-4a0a-a4c5-f91185cd8414",
              "leftValue": "={{ $json.body.image_prompt_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "faeaaa9e-771b-4c5c-87bb-db3c775df597",
              "leftValue": "={{ $json.body.image_prompt_url }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -120
      ],
      "id": "63e26186-8d85-4feb-ae2c-4c599f50dbbc",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-image-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        -48
      ],
      "id": "74809296-8485-42b4-a29f-4a2296d41600",
      "name": "Webhook2",
      "webhookId": "5d9c1c8d-7c58-4fa1-bd34-349d019fbae3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data.image.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3392,
        -48
      ],
      "id": "82beae8e-3219-4aad-8340-07b46a2ffad6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "let image_analyze_result = $input.first().json.content || \"\";\nlet improved_user_prompt = $('Webhook2').first().json.body.improved_user_prompt || \"\";\n\n// Her ikisinin uzunluğu 5 karakterden fazlaysa birleştir\nlet result = \"\";\n\n// Eğer text1 doluysa ekle\nif (image_analyze_result && image_analyze_result.trim().length > 0) {\n  result += `User image input description: ${image_analyze_result.trim()}`;\n}\n\n// Eğer text2 doluysa, ve result boş değilse araya boşluk koyarak ekle\nif (improved_user_prompt && improved_user_prompt.trim().length > 0) {\n  result += (result ? \"  \" : \"\") + `User's text prompt: ${improved_user_prompt.trim()}`;\n}\n\n\nreturn [{ json: {result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -48
      ],
      "id": "aa812fbc-3062-473e-8f45-fff6ab4312ee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "generated_image",
          "mode": "list",
          "cachedResultName": "generated_image"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook2').first().json.body.generation_id }}",
            "image_url": "={{ $json.data.image.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_session_id",
              "displayName": "chat_session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "generation_id",
              "displayName": "generation_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_size_id",
              "displayName": "product_size_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_frame_id",
              "displayName": "product_frame_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "text_prompt",
              "displayName": "text_prompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "improved_prompt",
              "displayName": "improved_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uploaded_image_url",
              "displayName": "uploaded_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_generation_intent",
              "displayName": "user_generation_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_generate_mode",
              "displayName": "is_generate_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "credit_used",
              "displayName": "credit_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_selected",
              "displayName": "is_selected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3616,
        -48
      ],
      "id": "065f3f99-697c-4c88-ad37-3b0c9f174f19",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "FTyohjDEtaJCpf9r",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "7070f656649ac694eaf61d47a7f2d976"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        -48
      ],
      "id": "9f2a40c3-8d73-471b-962a-b3b620753988",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "text",
        "text": "birebiro.com",
        "fontSize": 224,
        "fontColor": "#EBEBEB",
        "positionX": 200,
        "positionY": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2944,
        -48
      ],
      "id": "eadfeeb9-8d22-4d7b-ab1c-1ce3a387bded",
      "name": "Add Watermark"
    },
    {
      "parameters": {
        "operation": "information"
      },
      "id": "b2b7d296-c696-4cec-ad92-d36185189cda",
      "name": "Get Meta BG",
      "type": "n8n-nodes-base.editImage",
      "position": [
        1600,
        -416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb3fd91-c13d-45ce-a7ec-612319a008fc",
              "name": "metaTop",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "e9e70859-4caf-4dc5-9d1c-a9216feddbf9",
      "name": "Nest Top Meta",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        -608
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb3fd91-c13d-45ce-a7ec-612319a008fc",
              "name": "metaBg",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "8e03e070-e303-4a24-b686-d2d0c2e1ddd0",
      "name": "Nest Bg Meta",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        -416
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n\n  const centerX = ($input.item.json.metaBg.size.width + $input.item.json.metaTop.size.width) / 2;\n  const centerY = ($input.item.json.metaBg.size.height + $input.item.json.metaTop.size.height) / 2;\n\n  $input.item.json.center = { x: centerX, y: centerY };\n\nreturn $input.item"
      },
      "id": "728417bb-88c0-4ca5-b809-f4fe4c913e90",
      "name": "Calculate Center",
      "type": "n8n-nodes-base.code",
      "position": [
        2496,
        -512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://i.ibb.co/2YN4DSw2/watermark.png",
        "options": {}
      },
      "id": "9bddc5fe-11d4-4082-a137-9585b1f783cc",
      "name": "Get Logo for the Watermark",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1376,
        -608
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "22d1ee02-5efa-4ad4-90a2-d0bfdbe4b25e",
      "name": "Wait for both Images and merge Binary in one Item",
      "type": "n8n-nodes-base.merge",
      "position": [
        2272,
        -512
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.binary.top = $input.item.binary.data;\ndelete $input.item.binary.data;\nreturn $input.item;"
      },
      "id": "1cbe53f3-f1d7-431c-9ab7-53e8df606757",
      "name": "Rename Image Binary Top Image",
      "type": "n8n-nodes-base.code",
      "position": [
        2048,
        -608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.binary.bg = $input.item.binary.data;\ndelete $input.item.binary.data;\nreturn $input.item;"
      },
      "id": "0abb9aeb-b305-4010-a1dd-738400213d30",
      "name": "Rename Image Binary Background Image",
      "type": "n8n-nodes-base.code",
      "position": [
        2048,
        -416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "information"
      },
      "id": "5f09013d-c3f7-4571-a3fe-e0738762eb4c",
      "name": "Get Meta Top",
      "type": "n8n-nodes-base.editImage",
      "position": [
        1600,
        -608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyName": "bg",
        "dataPropertyNameComposite": "top",
        "positionX": "={{ $json.center.x - $json.metaTop.size.width }}",
        "positionY": "={{ $json.center.y - $json.metaTop.size.height }}",
        "options": {
          "fileName": "out.png",
          "format": "jpeg"
        }
      },
      "id": "44b1b94d-aca3-4881-bf6d-2c7a264b59e6",
      "name": "Let \"top\" overlay \"bg\"",
      "type": "n8n-nodes-base.editImage",
      "position": [
        2720,
        -512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Retrieve the Background Image and fetch Meta from the File\n### Like Sizes, to properly place the \"Top Image\" a.k.a \"Watermark\" a.k.a \"Overlay\" above the \"Background\"-Image",
        "height": 612.1135700636542,
        "width": 820.7320856852112
      },
      "id": "08625d87-b209-4718-9510-551d6dfafde1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1349.5,
        -868
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Calculate the Position for the \"Top\" Image\n\n\n\n\n\n\n\n\n\n\n\n\n\nWe want to place the \"Top\"-Image it dead-center on the \"Background\"-Image. But the upper-left-corner is the origin for the operation. \n\nYou may adjust it to your needs, to – for example adjust the size of your Overlay-Image, or place it in some corner. Adjust the Formular to your needs.\n\n**⚠️ Limitation:** The Image that Overlays the Background-Image has to be <= the size of the background image to work properly.",
        "height": 568.2663488290325,
        "width": 296.5141962579569
      },
      "id": "1c78a473-247d-4c95-b871-9fddcf5c814f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2395.5,
        -920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🖼️ Binary Property *bg* should now be the composite image and be overlayed by *top*",
        "height": 99.86957475347333,
        "width": 257.68541919015513,
        "color": 4
      },
      "id": "d3983d65-cedf-4e15-8c01-c8207114d580",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4368,
        -304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.result }}",
        "options": {
          "size": "1792x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2720,
        24
      ],
      "id": "9fe79500-9378-4546-9a22-806a505f9f73",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "vYrqMk8SXBQDctdA",
          "name": "BireBiro-NEW"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "octaworksofficial",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-24T13:49:46.365Z",
      "updatedAt": "2025-10-24T13:49:46.365Z",
      "role": "workflow:owner",
      "workflowId": "FC6JJCEUa0k5JIuA",
      "projectId": "1jTilK588wM2KuJy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-20T11:02:17.000Z",
  "versionId": "5394ffff-b314-40da-9284-c32c93436be3"
}