mtP2kcDx21nEZp0D.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-24T15:05:50.105Z",
  "id": "mtP2kcDx21nEZp0D",
  "isArchived": false,
  "meta": null,
  "name": "bebo_get",
  "nodes": [
    {
      "parameters": {
        "path": "getGeneratedImage",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5a034db9-27d3-4433-b137-c43eed770825",
      "name": "Webhook",
      "webhookId": "832a24ef-6328-4050-b7a7-dcf36225b398"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "dd144eac-126c-4b9e-87de-aa823bbbceab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PRcNVtQgwLmFJIJm",
          "mode": "list",
          "cachedResultName": "bebo_db",
          "cachedResultUrl": "/projects/1jTilK588wM2KuJy/datatables/PRcNVtQgwLmFJIJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "generation_id",
              "keyValue": "={{ $json.body.generation_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "115b04ab-98e6-4b51-879b-36a822ef2c0d",
      "name": "Get row(s)"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "octaworksofficial",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-24T15:05:50.109Z",
      "updatedAt": "2025-10-24T15:05:50.109Z",
      "role": "workflow:owner",
      "workflowId": "mtP2kcDx21nEZp0D",
      "projectId": "1jTilK588wM2KuJy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-06T08:26:22.000Z",
  "versionId": "f98df6ad-d603-4e61-9627-0fb1057fd7b6"
}