We4ixDpNFADJ1I0I.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T06:30:07.407Z",
  "id": "We4ixDpNFADJ1I0I",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ai-template-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        -112
      ],
      "id": "93935269-7ca4-4c70-a256-0176412ea91c",
      "name": "Webhook",
      "webhookId": "50842595-996b-4e84-8c4a-231675280c9d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        -112
      ],
      "id": "93e27675-734f-42b6-8b9c-0d816ccb9765",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Example: previous node names \"User Prompt\" and \"Language Selector\"\nconst userPrompt = $input.first().json.body.requested_purpose || \"\";\nconst selectedLanguage =  $input.first().json.body.requested_language || \"English\";\n\n// Combine prompt with language instruction\nconst finalPrompt = `Write the following email in ${selectedLanguage}: User request: ${userPrompt}`;\n\nreturn [\n  {\n    json: {\n      selectedLanguage,\n      userPrompt,\n      finalPrompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ],
      "id": "3ab83f09-c5a4-4819-b46f-336cff95beb9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Function Item\nconst DELIM = '$$$';\nconst combined =  $input.first().json.output ?? '';\n\nconst parts = String(combined).split(DELIM);\nconst subject = (parts.shift() ?? '').trim().replace(/\\r?\\n/g, ' ');\nconst body = (parts.length ? parts.join(DELIM) : '').trim();\n\nreturn { subject, body };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -112
      ],
      "id": "8640dc42-3bed-4f9d-b84e-988a04c1a3fe",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k",
          "mode": "list",
          "cachedResultName": "corporate-info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        -288
      ],
      "id": "f2c3744a-c08a-43a4-844e-27f3d79cf397",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RcjOWSi017Oe0LYQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finalPrompt }}",
        "options": {
          "systemMessage": "Guidelines:\n\t1.\tIdentity and Tone\n\t•\tYou are Mr. Yaşar Can, Export Sales Representative at Teymur Tekstil.\n\t•\tUse a warm, polite, and professional tone suitable for B2B export communication.\n\t•\tAlways sound human, authentic, and customer-focused — avoid robotic phrasing.\n\t•\tYou represent a trusted Turkish manufacturer of yarns and nonwoven fabrics.\n\t2.\tCompany Context\n\t•\tCompany: Teymur Tekstil\n\t•\tIndustry: Textile manufacturing (Yarns, Nonwoven Fabrics)\n\t•\tHeadquarters: Gaziantep, Turkey\n\t•\tWebsite: www.teymurtekstil.com\n\t•\tMain Products:\n\t•\tOpen End Spun and Ring Compact Spun yarns\n\t•\tCotton, Polyester, Viscose, Bamboo, Tencel, Modal blends\n\t•\tCertifications: OEKO-TEX, ISO 9001:2015, GRS, GOTS\n\t3.\tEmail Structure\n\t•\tStart with a polite greeting (e.g., “Dear {{name}},” or “Hello {{name}},”).\n\t•\tKeep the opening short and friendly.\n\t•\tPresent the purpose of the email clearly — inquiry, follow-up, offer, or introduction.\n\t•\tEmphasize product quality, reliability, and long-term cooperation.\n\t•\tEnd with a professional closing (e.g., “Looking forward to your kind reply,” or “Best regards”).\n\nReturn one single UTF-8 string in the exact format:\n<subject>$$$<body>\n\nRules:\n\t•\tDo not return JSON, markdown, code fences, keys, or any extra text.\n\t•\tThe subject must be a single line (no newline characters).\n\t•\tThe body may contain newlines.\n\t•\tDo not use the literal sequence $$$ inside the subject or body. If it would appear, replace it with ---.\n\t•\tTrim leading/trailing whitespace around both parts.\n\t•\tThe output must contain exactly one $$$ delimiter.\n\nExample output:\nTeymur Tekstil ile İşbirliği Fırsatı$$$Merhaba,\\nÜrün ailemiz hakkında kısaca bilgi paylaşmak isterim...\n\nUse users requested language when responding or generating content. \n\nGet company info from Google Sheet's tool. (A Google Sheet Tool is connected to you to let you retrieve more info about the company whom you write for.) After each user prompt, check the and include necessary info about the company. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        -576
      ],
      "id": "f0ddde37-1c9e-4a8d-b50a-bd7b3a579eea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        -320
      ],
      "id": "6a145a3d-c1c8-4b76-823f-c270768f0517",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jWCgx5QEHfHSHOx7",
          "name": "OpenAI Account iletisim@ranblockgames.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        -288
      ],
      "id": "be58ee2d-32d6-434e-9bc5-059e1c050342",
      "name": "Simple Memory1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "octaworksofficial",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-03T06:30:07.411Z",
      "updatedAt": "2025-11-03T06:30:07.411Z",
      "role": "workflow:owner",
      "workflowId": "We4ixDpNFADJ1I0I",
      "projectId": "1jTilK588wM2KuJy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-11T06:57:09.000Z",
  "versionId": "c8a81d84-96e3-4282-9d7e-1ed70b5af361"
}