We4ixDpNFADJ1I0I.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Message a model",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T06:30:07.407Z",
  "id": "We4ixDpNFADJ1I0I",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ai-template-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        -112
      ],
      "id": "93935269-7ca4-4c70-a256-0176412ea91c",
      "name": "Webhook",
      "webhookId": "50842595-996b-4e84-8c4a-231675280c9d"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_CVJsDOaaU5BAduDciWkiB6WR",
          "mode": "list",
          "cachedResultName": "Teymur Tekstil Email Generator"
        },
        "prompt": "define",
        "text": "={{ $json.finalPrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1008,
        -112
      ],
      "id": "b628aaca-cd6f-4dfd-8456-2725666b511d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jWCgx5QEHfHSHOx7",
          "name": "OpenAI Account iletisim@ranblockgames.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        144
      ],
      "id": "2a82ea35-fa58-4fd0-a1ed-78689b2b3ae3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        -112
      ],
      "id": "93e27675-734f-42b6-8b9c-0d816ccb9765",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Example: previous node names \"User Prompt\" and \"Language Selector\"\nconst userPrompt = $input.first().json.body.requested_purpose || \"\";\nconst selectedLanguage =  $input.first().json.body.requested_language || \"English\";\n\n// Combine prompt with language instruction\nconst finalPrompt = `Write the following email in ${selectedLanguage}: User request: ${userPrompt}`;\n\nreturn [\n  {\n    json: {\n      selectedLanguage,\n      userPrompt,\n      finalPrompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ],
      "id": "3ab83f09-c5a4-4819-b46f-336cff95beb9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Function Item\nconst DELIM = '$$$';\nconst combined =  $input.first().json.output ?? '';\n\nconst parts = String(combined).split(DELIM);\nconst subject = (parts.shift() ?? '').trim().replace(/\\r?\\n/g, ' ');\nconst body = (parts.length ? parts.join(DELIM) : '').trim();\n\nreturn { subject, body };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -112
      ],
      "id": "8640dc42-3bed-4f9d-b84e-988a04c1a3fe",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k",
          "mode": "list",
          "cachedResultName": "corporate-info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        944,
        144
      ],
      "id": "f2c3744a-c08a-43a4-844e-27f3d79cf397",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RcjOWSi017Oe0LYQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "octaworksofficial",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-03T06:30:07.411Z",
      "updatedAt": "2025-11-03T06:30:07.411Z",
      "role": "workflow:owner",
      "workflowId": "We4ixDpNFADJ1I0I",
      "projectId": "1jTilK588wM2KuJy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-05T10:45:29.000Z",
  "versionId": "54018a2f-56a3-4c40-a45b-1dc3ae156f9f"
}