xmTVQ50hxXcbVqVS.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Start Image Generation": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert generation request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert generation request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Start Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-23T14:58:27.131Z",
  "id": "xmTVQ50hxXcbVqVS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "bebo-chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        32
      ],
      "id": "3ca3b52f-6b88-4600-984c-72a2d005b116",
      "name": "Webhook",
      "webhookId": "7a61dd3c-b028-4fa9-94c5-44931d3fe0ba"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff87862-a531-4c00-8f18-78b29c16fdbe",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        32
      ],
      "id": "9e00a8db-3f6b-49a8-8181-02fb7ff56f6d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: {{ $json.body['text-prompt'] }}\nUser uploaded this image: {{ $json.body['image-prompt-url'] }}\nUser image generation intent: {{ $json.body['is-generate-mode'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI visual assistant on birebiro.com.\nYou always return only one JSON object and nothing else.\nDo not include explanations, extra text, or formatting outside the JSON.\n\nDefault conversation language is Turkish, unless the user writes in another language.\n\nYour job is to understand if the user intends to create an image.\n\t•\tIf the user wants to generate an image, set user_generation_intent to true.\n\t•\tIf the user’s message contains enough information, create a clear, detailed English prompt and put it in improved_generation_prompt.\n\t•\tIf the message lacks details, ask for clarification in Turkish within reply_to_user, and set user_generation_intent to false.\n\t•\tIf the user is just chatting, and User image generation intent: is false, continue the conversation naturally in the users language.\n\nOutput Format (always this exact structure):\n{\n  \"reply_to_user\": \"\",\n  \"user_generation_intent\": true,\n  \"improved_generation_prompt\": \"\"\n}\n\nRules:\n\t•\treply_to_user: always in Turkish unless user uses another language.\n\t•\tuser_generation_intent: true only if the user explicitly requests an image and provides enough detail.\n\t•\timproved_generation_prompt: a polished English image prompt (empty if intent is false).\n\t•\tWhen \"User image generation intent\": true, always reply with a natural Turkish confirmation such as “Harika fikir! Hemen o görseli oluşturmaya başlıyorum 🎨” and similar reactions.\n\t•\tYou are used in a n8n flow and can handle uploaded images. So don't tell users that you can not function images. Just tell you are handling.\n\t•\tNever add or remove fields from this JSON.\n\t•\tNever include anything outside the JSON object.\n- IF user persist you to generate an image, but user image generation intent is false, tell user to activate image generation button on the right corner of the page and tell you are currently in inspiration mode.\n\t"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        32
      ],
      "id": "42b51885-a4dc-446b-bed4-2a4a59b769b8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        256
      ],
      "id": "3834f476-2046-42d7-8001-564a8ff6c83c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jWCgx5QEHfHSHOx7",
          "name": "OpenAI Account iletisim@ranblockgames.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body['chat-session-id'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        256
      ],
      "id": "41d84c58-0618-4667-bcd7-d0141048a4cc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c0ab4e5-e2b2-4565-b06e-8188da5a1aff",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        32
      ],
      "id": "3f36c316-7c50-4ab2-96f3-aa7ec14cd506",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a578a99a-3192-4ee8-be0e-06e34c507447",
              "leftValue": "={{ $('Webhook').item.json.body['is-generate-mode'] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        32
      ],
      "id": "6fc5ef1b-bef9-4172-be32-edb225fe3777",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply_to_user\": \"Görseli iyileştirmek için bir resim vermeniz gerekiyor. Lütfen iyileştirmemi istediğiniz bir resim gönderin veya detaylı bir açıklama yapın.\",\n  \"user_generation_intent\": false,\n  \"improved_generation_prompt\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        256
      ],
      "id": "35a4cb1e-8e33-4a55-9854-3306f40be2e8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-14b9.up.railway.app/webhook/start-image-generation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=user_id",
              "value": "={{ $('Webhook').item.json.body['user-id'] }}"
            },
            {
              "name": "improved_user_prompt",
              "value": "={{ $('AI Agent').item.json.output.improved_generation_prompt }}"
            },
            {
              "name": "image_prompt_url",
              "value": "={{ $('Webhook').item.json.body['image-prompt-url'] }}"
            },
            {
              "name": "resolution",
              "value": "={{ $('Webhook').item.json.body.resolution }}"
            },
            {
              "name": "quality",
              "value": "={{ $('Webhook').item.json.body.quality }}"
            },
            {
              "name": "image_prompt",
              "value": "={{ $('Webhook').item.json.body['image-prompt'] }}"
            },
            {
              "name": "generation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -368
      ],
      "id": "6df8fe1c-82a7-43d4-8ad9-48ce4324e247",
      "name": "Start Image Generation"
    },
    {
      "parameters": {
        "jsCode": "// Girişten userID al\nconst userID = $('Webhook').first().json.body['user-id'] || 0;\n\n// 10.000–20.000 arasında rastgele sayı üret\nconst randomNumber = Math.floor(Math.random() * (20000 - 10000 + 1)) + 10000;\n\n// userID ile birleştir (örnek: 123 + 15732 → 12315732)\nconst combinedID = `${userID}-${randomNumber}`;\n\nreturn [\n  {\n    json: {\n      userID,\n      randomNumber,\n      combinedID\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -128
      ],
      "id": "11222ede-baa6-4955-b744-760d38edebd7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply_to_user\": \"{{ $('AI Agent').item.json.output.reply_to_user }}\",\n  \"image_generation\": true,\n  \"generation_id\": \"{{ $json.id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2048,
        -128
      ],
      "id": "cb2d19a5-9295-459e-b2f8-c448d202168c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "generated_image",
          "mode": "list",
          "cachedResultName": "generated_image"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_generate_mode": "={{ $('Webhook').item.json.body['is-generate-mode'] }}",
            "is_selected": false,
            "credit_used": "={{ $('Webhook').item.json.body['credit-used'] }}",
            "chat_session_id": "={{ $('Webhook').item.json.body['chat-session-id'] }}",
            "text_prompt": "={{ $('Webhook').item.json.body['text-prompt'] }}",
            "improved_prompt": "={{ $('AI Agent').item.json.output.improved_generation_prompt }}",
            "user_generation_intent": "={{ $('Webhook').item.json.body['is-generate-mode'] }}",
            "uploaded_image_url": "={{ $('Webhook').item.json.body['image-prompt-url'] }}",
            "generation_id": "={{ $json.combinedID }}",
            "user_id": "={{ $('Webhook').item.json.body['user-id'] }}",
            "product_frame_id": "={{ $('Webhook').item.json.body['product-frame-id'] }}",
            "product_size_id": "={{ $('Webhook').item.json.body['product-size-id'] }}",
            "product_id": "={{ $('Webhook').item.json.body['product-id'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_session_id",
              "displayName": "chat_session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_id",
              "displayName": "generation_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_size_id",
              "displayName": "product_size_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_frame_id",
              "displayName": "product_frame_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text_prompt",
              "displayName": "text_prompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "improved_prompt",
              "displayName": "improved_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uploaded_image_url",
              "displayName": "uploaded_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_generation_intent",
              "displayName": "user_generation_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_generate_mode",
              "displayName": "is_generate_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "credit_used",
              "displayName": "credit_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_selected",
              "displayName": "is_selected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        -128
      ],
      "id": "2868391f-1fb5-43d9-ba98-9528d83beb82",
      "name": "Insert generation request",
      "credentials": {
        "postgres": {
          "id": "FTyohjDEtaJCpf9r",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply_to_user\": \"{{ $('AI Agent').item.json.output.reply_to_user }}\",\n  \"image_generation\": false,\n  \"generation_id\": \"\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2048,
        48
      ],
      "id": "4c1f0407-e671-4516-82d2-909003351a67",
      "name": "Respond to Webhook"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "octaworksofficial",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-23T14:58:27.136Z",
      "updatedAt": "2025-10-23T14:58:27.136Z",
      "role": "workflow:owner",
      "workflowId": "xmTVQ50hxXcbVqVS",
      "projectId": "1jTilK588wM2KuJy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-11T18:06:00.000Z",
  "versionId": "3ce37d4b-a7b7-4247-a173-07ae7aacf2d1"
}