TEYMUR/ai-template-generator.json
{
  "name": "ai-template-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "9cbcd009-8436-4efc-82e9-0fe3ba97b640",
      "name": "Webhook",
      "webhookId": "50842595-996b-4e84-8c4a-231675280c9d"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_CVJsDOaaU5BAduDciWkiB6WR",
          "mode": "list",
          "cachedResultName": "Teymur Tekstil Email Generator"
        },
        "prompt": "define",
        "text": "={{ $json.finalPrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        448,
        0
      ],
      "id": "046e8015-db2b-484b-97a1-019abe43ff7d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jWCgx5QEHfHSHOx7",
          "name": "OpenAI Account iletisim@ranblockgames.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        256
      ],
      "id": "4e022098-ad6f-44cd-9fb9-1addbdeab9e1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1168,
        0
      ],
      "id": "940abc08-1e09-4164-9de8-10b205ad678b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Example: previous node names \"User Prompt\" and \"Language Selector\"\nconst userPrompt = $input.first().json.body.requested_purpose || \"\";\nconst selectedLanguage =  $input.first().json.body.requested_language || \"English\";\n\n// Combine prompt with language instruction\nconst finalPrompt = `Write the following email in ${selectedLanguage}: User request: ${userPrompt}`;\n\nreturn [\n  {\n    json: {\n      selectedLanguage,\n      userPrompt,\n      finalPrompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "78e39251-8314-4f26-b924-0d00807d1435",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Current item’dan output alanını al\nconst raw = $input.first().json.output;\n\nif (typeof raw !== 'string' || raw.trim() === '') {\n  throw new Error('output alanı boş veya string değil.');\n}\n\nlet parsed;\ntry {\n  // output içindeki JSON string'i parse et\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error('output içindeki JSON geçersiz: ' + e.message);\n}\n\n// Beklenen alanları çek\nconst email_subject = parsed.email_subject || '';\nconst email_body = parsed.email_body || '';\n\n// İstersen HTML kullanımında <br> dönüşümü için (opsiyonel):\n// const email_body_html = email_body.replace(/\\n/g, '<br>');\n\nreturn [\n  {\n    json: {\n      email_subject,\n      email_body\n      // , email_body_html // (opsiyonel)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "d5603446-a417-4789-8c94-85d996434ef2",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Message a model",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71ae7e52-96ad-4951-ab33-9c35e380e90c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1400f02ebab6d226b63e5af9a4cceeb54d8f40163fa278a5f6d2b1bd8d7872df"
  },
  "id": "R0ySfP6lJMUkotFF",
  "tags": []
}