TEYMUR/corporate-settings.json
{
  "name": "corporate-settings",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k",
          "mode": "list",
          "cachedResultName": "corporate-info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.body.title }}",
            "short_desc": "={{ $json.body.short_desc }}",
            "desc": "={{ $json.body.desc }}",
            "product_info": "={{ $json.body.product_info }}",
            "color_code_1": "={{ $json.body.color_code_1 }}",
            "color_code_2": "={{ $json.body.color_code_2 }}",
            "logo_image_url": "={{ $json.body.logo_image_url }}",
            "company_full_title": "={{ $json.body.company_full_title }}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "short_desc",
              "displayName": "short_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desc",
              "displayName": "desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_info",
              "displayName": "product_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "color_code_1",
              "displayName": "color_code_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "color_code_2",
              "displayName": "color_code_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo_image_url",
              "displayName": "logo_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_full_title",
              "displayName": "company_full_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "665948c8-81bc-457f-bc20-8a9b12b38e47",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RcjOWSi017Oe0LYQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        0
      ],
      "id": "d3ccac2b-3c40-4431-977a-1992318077b6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "corporate-settings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5e249504-0b32-4af9-8743-8ad6a6ac4f48",
      "name": "Save",
      "webhookId": "3cc12afe-ba64-4deb-af6c-de02bc7186d0"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        192
      ],
      "id": "7c14195f-c291-4298-bb45-44391d78be89",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "corporate-settings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "a1bbb5c2-4ed4-4a72-83f1-ce6e38002816",
      "name": "Get",
      "webhookId": "3cc12afe-ba64-4deb-af6c-de02bc7186d0"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k",
          "mode": "list",
          "cachedResultName": "corporate-info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6dVd33u4zmyaxwrp0-Izhbp5ly7xDK1q3uHDhmSs_k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        192
      ],
      "id": "b83072c3-6988-40a3-95f8-532b59a80a50",
      "name": "Get Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RcjOWSi017Oe0LYQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "Get Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71bc25af-3e04-4c05-85f5-872945d50859",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1400f02ebab6d226b63e5af9a4cceeb54d8f40163fa278a5f6d2b1bd8d7872df"
  },
  "id": "JBaQSK0w2NSZqvxY",
  "tags": []
}