TEYMUR/email-settings.json
{
  "name": "email-settings",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H8SuYExdx9eGFWRwrIpEXKQGCScKghq-ttLeSkSssYk",
          "mode": "list",
          "cachedResultName": "customer-base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H8SuYExdx9eGFWRwrIpEXKQGCScKghq-ttLeSkSssYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 17128778,
          "mode": "list",
          "cachedResultName": "settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H8SuYExdx9eGFWRwrIpEXKQGCScKghq-ttLeSkSssYk/edit#gid=17128778"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "CC": "={{ $json.body.CC }}",
            "BCC": "={{ $json.body.BCC }}",
            "auto_sending_day_interval": "={{ $json.body.auto_sending_day_interval }}",
            "max_follow_up_count": "={{ $json.body.max_follow_up_count }}",
            "is_auto_mailing_active": "={{ $json.body.is_auto_mailing_active }}",
            "is_auto_reading_active": "={{ $json.body.is_auto_reading_active }}",
            "is_auto_follow_up_active": "={{ $json.body.is_auto_follow_up_active }}",
            "notification_email": "={{ $json.body.notification_email }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "CUSTOM_ROW",
              "displayName": "CUSTOM_ROW",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "auto_sending_day_interval",
              "displayName": "auto_sending_day_interval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "max_follow_up_count",
              "displayName": "max_follow_up_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_auto_mailing_active",
              "displayName": "is_auto_mailing_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_auto_reading_active",
              "displayName": "is_auto_reading_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_auto_follow_up_active",
              "displayName": "is_auto_follow_up_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CC",
              "displayName": "CC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BCC",
              "displayName": "BCC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        0
      ],
      "id": "d88efbdb-0e3b-46e3-86ef-5dbed4c44d2c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RcjOWSi017Oe0LYQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        0
      ],
      "id": "20548d49-4f09-4056-bce5-0537da7e784e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H8SuYExdx9eGFWRwrIpEXKQGCScKghq-ttLeSkSssYk",
          "mode": "list",
          "cachedResultName": "customer-base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H8SuYExdx9eGFWRwrIpEXKQGCScKghq-ttLeSkSssYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 17128778,
          "mode": "list",
          "cachedResultName": "settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H8SuYExdx9eGFWRwrIpEXKQGCScKghq-ttLeSkSssYk/edit#gid=17128778"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CUSTOM_ROW",
              "lookupValue": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        224
      ],
      "id": "2de5a6ca-523a-4fcc-be42-8dbf7155916b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RcjOWSi017Oe0LYQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        224
      ],
      "id": "fc29f1f5-151e-49f9-848d-fd24d2ae4cbe",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "settings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6288ceec-5900-4578-9df4-6dce3b71e17e",
      "name": "POST",
      "webhookId": "3ed4b2b5-c21a-441b-80eb-1cd4ce28b6b0"
    },
    {
      "parameters": {
        "path": "settings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "3083e4df-404a-452c-807a-55937c6f4a12",
      "name": "GET",
      "webhookId": "3ed4b2b5-c21a-441b-80eb-1cd4ce28b6b0"
    }
  ],
  "pinData": {},
  "connections": {
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c72e140c-6f87-4f16-839e-33c607fba36e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1400f02ebab6d226b63e5af9a4cceeb54d8f40163fa278a5f6d2b1bd8d7872df"
  },
  "id": "02vaRwbUjxe4cz6x",
  "tags": []
}